

/* Horizontaal scrollen*/
:root {
  --gutter: 20px;
}

.app {
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(7, 95%);
  grid-template-rows: minmax(150px, 1fr);
  
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

/*opmaak horizontaal scrollen*/
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  height: 32px;
  margin: 0;
  color: white;
  background-color: #0009;
  padding: 15px;
  border-radius: 15px;
}

.item {
  scroll-snap-align: center;
  height: 75vh;
  color: black;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: block;
  flex-direction: column;
  background: #808080;
  border-radius: 8px;
  overflow: scroll;
}

.item h1 {
  justify-content: center;
  align-items: left top;
  }

.item p {
  margin: 5px;
}

.item img {
  width: 32%;
  margin: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}
